<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/scripts.js' %}" defer></script>
</head>

<body>
    <div class="login-container">
        <h2>Login</h2>
        {% if messages %}
        {% for message in messages %}
        <p class="error-message">{{ message }}</p>
        {% endfor %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <label for="id_username">Username:</label>
            <input type="text" name="username" id="id_username" required>
            <label for="id_password">Password:</label>
            <input type="password" name="password" id="id_password" required>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
    </div>
</body>

</html>